<h1>Dice Roll</h1>
<form action="/process_roll">
  <label for="numdice">Number of dice to roll?</label>
  <input id="numdice" type="text" name="dice">
  <label for="numsides">How many sides per die?</label>
  <input id="numsides" type="text" name="sides">
  <button>Roll!</button>
</form>
